In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Proccessed_Texas_Employment_ACS_2015_Texas.csv',header=0)
df.head()

,Unnamed: 0,ID,ST,PUMA,JWMNP,SCHL,WAGP,WKHP,WKW,ESR,...,JWAP,JWDP,SOCP,POWPUMA,POWSP,NWAB,NWAV,NWLA,NWLK,AGEP
0,0,1,48,1907,40.0,Post_Graduation,35000.0,50.0,1.0,1.0,...,Quarter_2,Quarter_2,General Services,Assigned POW,48.0,3.0,5.0,3.0,3.0,61
1,1,2,48,1907,0.0,School,0.0,0.0,0.0,6.0,...,Work_from_Home,Work_from_Home,Not a Worker,Not Worker or Under16,0.0,3.0,5.0,3.0,3.0,67
2,2,3,48,1907,0.0,School,0.0,0.0,0.0,6.0,...,Work_from_Home,Work_from_Home,Not a Worker,Not Worker or Under16,0.0,3.0,5.0,3.0,3.0,80
3,3,4,48,5202,0.0,No_Schooling,70000.0,40.0,1.0,1.0,...,Work_from_Home,Work_from_Home,businnes_and_finance,Assigned POW,48.0,3.0,5.0,3.0,3.0,33
4,4,5,48,5202,60.0,HighSchool,65000.0,55.0,1.0,1.0,...,Quarter_1,Quarter_1,General Services,Assigned POW,48.0,3.0,5.0,3.0,3.0,39

In [3]:
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194483 entries, 0 to 194482
Data columns (total 22 columns):
Unnamed: 0    194483 non-null int64
ID            194483 non-null int64
ST            194483 non-null int64
PUMA          194483 non-null int64
JWMNP         194483 non-null float64
SCHL          194483 non-null object
WAGP          194483 non-null float64
WKHP          194483 non-null float64
WKW           194483 non-null float64
ESR           194483 non-null float64
FOD1P         194483 non-null object
NAICSP        194483 non-null object
JWAP          194483 non-null object
JWDP          194483 non-null object
SOCP          194483 non-null object
POWPUMA       194483 non-null object
POWSP         194483 non-null float64
NWAB          194483 non-null float64
NWAV          194483 non-null float64
NWLA          194483 non-null float64
NWLK          194483 non-null float64
AGEP          194483 non-null int64
dtypes: float64(10), int64(5), object(7)
memory usage: 32.6+ MB

In [4]:
# To convert categorial variable to numeric
# Using dummy variable
# Number of dummy variables = Number of category - 1
# Dummies a pandas method
# drop_first to have number of categorical variable - 1
df=pd.get_dummies(df,drop_first=True)

In [5]:
df.head()

,Unnamed: 0,ID,ST,PUMA,JWMNP,WAGP,WKHP,WKW,ESR,POWSP,...,JWDP_Quarter_4,JWDP_Work_from_Home,SOCP_General Services,SOCP_Medical,SOCP_Militay and Law Enforcement,SOCP_Not a Worker,SOCP_Technical,SOCP_businnes_and_finance,POWPUMA_Not Work in USA or Puerto,POWPUMA_Not Worker or Under16
0,0,1,48,1907,40.0,35000.0,50.0,1.0,1.0,48.0,...,0,0,1,0,0,0,0,0,0,0
1,1,2,48,1907,0.0,0.0,0.0,0.0,6.0,0.0,...,0,1,0,0,0,1,0,0,0,1
2,2,3,48,1907,0.0,0.0,0.0,0.0,6.0,0.0,...,0,1,0,0,0,1,0,0,0,1
3,3,4,48,5202,0.0,70000.0,40.0,1.0,1.0,48.0,...,0,1,0,0,0,0,0,1,0,0
4,4,5,48,5202,60.0,65000.0,55.0,1.0,1.0,48.0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
# for splitting data 
X=df.loc[:,df.columns!='WAGP']
y=df['WAGP']
from sklearn.model_selection import train_test_split 
# If randam_state is constant we get the same split every time
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
# Training Decision Tree
from sklearn import tree
regtree=tree.DecisionTreeRegressor(max_depth=3)
regtree.fit(X_train,y_train)
y_train_pred=regtree.predict(X_train)
y_test_pred=regtree.predict(X_test)

In [ ]:
# Model Performance
from sklearn.metrics import mean_squared_error,r2_score
print('RMSE - ',(mean_squared_error(y_test,y_test_pred))**0.5) 
print('R2 Train - ',r2_score(y_train,y_train_pred)) # Goodness of fit 0 to 1
print('R2 Test - ',r2_score(y_test,y_test_pred))

In [ ]:
# Plotting decision tree
# First make a dot file then convert the dot file into image, then use this 
# image to display the plot 
dot_data=tree.export_graphviz(regtree,feature_names=X_train.columns,out_file=None)
from IPython.display import Image
import pydotplus
graph=pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())

In [ ]:
# Bagging Model
from sklearn import tree
from sklearn.metrics import mean_squared_error,r2_score
regtree_bagging=tree.DecisionTreeRegressor()
from sklearn.ensemble import BaggingRegressor
bag_reg=BaggingRegressor(base_estimator=regtree_bagging,n_estimators=1000,
                         bootstrap=True,random_state=42)
bag_reg.fit(X_train,y_train)
y_train_bag_pred=bag_reg.predict(X_train)
y_test_bag_pred=bag_reg.predict(X_test)
print('RMSE - ',(mean_squared_error(y_test,y_test_bag_pred))**0.5) 
print('R2 Train - ',r2_score(y_train,y_train_bag_pred)) # Goodness of fit 0 to 1
print('R2 Test - ',r2_score(y_test,y_test_bag_pred))

In [8]:
# Random Forest
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score
rf_reg=RandomForestRegressor(n_estimators=1000,n_jobs=-1,random_state=42)
rf_reg.fit(X_train,y_train)
y_train_rf_pred=rf_reg.predict(X_train)
y_test_rf_pred=rf_reg.predict(X_test)
print('RMSE - ',(mean_squared_error(y_test,y_test_rf_pred))**0.5) 
print('R2 Train - ',r2_score(y_train,y_train_rf_pred)) # Goodness of fit 0 to 1
print('R2 Test - ',r2_score(y_test,y_test_rf_pred))

RMSE -  40813.408102619214
R2 Train -  0.9233705982508894
R2 Test -  0.4258927193557033

In [ ]:
# Optimizing Hyperparameter values
from sklearn.model_selection import GridSearchCV
rf_reg=RandomForestRegressor(n_estimators=250,random_state=42)
param_grid={'max_features':[4,5,6,7,8,9,10],
            'min_samples_split':[2,3,10]}
grid_search=GridSearchCV(rf_reg,param_grid,n_jobs=-1,cv=5)
grid_search.fit(X_train,y_train)
print(grid_search.best_params_)
cv_rf_reg=grid_search.best_estimator_
y_train_rf_cv_pred=cv_rf_reg.predict(X_train)
y_test_rf_cv_pred=cv_rf_reg.predict(X_test)
print('RMSE - ',(mean_squared_error(y_test,y_test_rf_cv_pred))**0.5) 
print('R2 Train - ',r2_score(y_train,y_train_rf_cv_pred)) # Goodness of fit 0 to 1
print('R2 Test - ',r2_score(y_test,y_test_rf_cv_pred))

In [ ]:
# Gradient Boosting
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error,r2_score
gbc_reg=GradientBoostingRegressor(learning_rate=0.02,n_estimators=1000,max_depth=1)
gbc_reg.fit(X_train,y_train)
y_train_gbc_pred=gbc_reg.predict(X_train)
y_test_gbc_pred=gbc_reg.predict(X_test)
print('RMSE - ',(mean_squared_error(y_test,y_test_gbc_pred))**0.5) 
print('R2 Train - ',r2_score(y_train,y_train_gbc_pred)) # Goodness of fit 0 to 1
print('R2 Test - ',r2_score(y_test,y_test_gbc_pred))

In [ ]:
# Adaptive Boosting
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error,r2_score
ada_reg=AdaBoostRegressor(learning_rate=0.02,n_estimators=5000)
ada_reg.fit(X_train,y_train)
y_train_ada_pred=ada_reg.predict(X_train)
y_test_ada_pred=ada_reg.predict(X_test)
print('RMSE - ',(mean_squared_error(y_test,y_test_ada_pred))**0.5) 
print('R2 Train - ',r2_score(y_train,y_train_ada_pred)) # Goodness of fit 0 to 1
print('R2 Test - ',r2_score(y_test,y_test_ada_pred))

In [ ]:
# XG Boost
import xgboost as xgb
from sklearn.metrics import mean_squared_error,r2_score
xgb_reg=xgb.XGBRegressor(max_depth=5,n_estimators=10000,learning_rate=0.3,n_jobs=-1)
xgb_reg.fit(X_train,y_train)
y_train_xgb_pred=xgb_reg.predict(X_train)
y_test_xgb_pred=xgb_reg.predict(X_test)
print('RMSE - ',(mean_squared_error(y_test,y_test_xgb_pred))**0.5) 
print('R2 Train - ',r2_score(y_train,y_train_xgb_pred)) # Goodness of fit 0 to 1
print('R2 Test - ',r2_score(y_test,y_test_xgb_pred))
xgb.plot_importance(xgb_reg) # Graph of relative importance of variable in the model